@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ONE-Mobile-Regular'!important;
    background-color: #f2f2f2!important;
}

.menu {
    box-shadow: 0 6px 6px 6px rgb(0 0 0 / 30%);
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.container-mb {
	width: 400px!important;
}

@media screen and (max-width: 450px) {
	.container-mb {
	width: 97%!important;
}
}

.profile {
    width: 55px;
    height: 55px;
    background-color: black;
    border-radius: 50px;
    margin-right: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.friends {
    font-size:15px!important;
    color:#6E6E6E;
}

.intro {
    font-size: 13px;

}

a {
    color: black!important;
    text-decoration: none!important;
}

.button-block {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
}