@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ONE-Mobile-Regular'!important;
    background-color: #f2f2f2!important;
}

.profile_card {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
}

.profile {
    width: 55px;
    height: 55px;
    background-color: black;
    border-radius: 50px;
    margin-right: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.intro {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    background-color: #f2f2f2;
    width: 100%;
}

a {
    color: black!important;
    text-decoration: none!important;
}